* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    font-family: "Josefin Sans", sans-serif;
  }
.topView {
    font-size: 18px;
    display: flex;
    width: 100%;
    background-color: #235566;
    height: 80px;
    justify-content: space-evenly;
    align-items: center;
  }
input[type="button"] {
    border: 2px solid skyblue;
    height: 32px;
    width: 68px;
    border-radius: 5px 5px;
    font-style: normal;
    font-weight: bold;
    background-color: #fff;
  }
  input[value="Search"] {
    color: grey;
  }

  
  input[type="text"], input[type="text"]:start {
    text-align: justify;
    color: skyblue;
    font-style: normal;
    font-weight: bold;
    cursor: pointer;
    width: 240px;
    border:  1px solid skyblue;
    height: 32px;
  }
  
  .main-nav {
    list-style-type: none;
    display: none;
  }
  
  .nav-links, .logo {
    text-decoration: none;
    color: whitesmoke;
  }
  
  .main-nav li {
    text-align: center;
    margin: 15px auto;
  }
  
  .logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
  }
  

  
  
  @media screen and (min-width: 768px) {
    .navbar {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0;
      height: 70px;
      align-items: center;
    }
    .main-nav {
      display: flex;
      margin-right: 30px;
      flex-direction: row;
      justify-content: flex-end;
    }
    .main-nav li {
      margin: 0;
    }
    .nav-links {
      margin-left: 40px;
    }
    .x-menu>p {
      font-size: 25em;
      font-style: italic;
    }
    .logo {
      margin-top: 0;
    }
    .navbar-toggle {
      display: none;
    }
    .logo:hover, .nav-links:hover {
      color: rgba(255, 255, 255, 1);
    }
  }
  
  .map {
    float: left;
    width: 75%;
    padding: 10px;
    height: 550px;
  }
  
  .sidebar {
    float: left;
    width: 25%;
    padding: 10px;
    height: 350px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  #temp {
      padding: 3px;
      margin-left: 6px;
  }
  .center{
    text-align: center;
  }
  .green{
    color:green;
  }
  
  @media screen and (max-width: 768px) {
    .map {
      width: 100%;
    }
    .sidebar {
      width: 100%;
    }
  }
  
  
  